body{
  background-color: rgba(35, 110, 110, 0.171);
  font-family: Sans-serif;
}
#category{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 60%;
  margin: auto;
}
img{
  width: 100%;
  aspect-ratio: 3/2;
}
#categoryDiv{
  box-shadow: 1px 1px 2px 2px rgba(128, 128, 128, 0.459);
  margin-right: 25px;
  margin-bottom: 25px;
  background-color: white;
  cursor: pointer;
}

h1{
  font-size: 3vw;
  color: rgb(17, 118, 165);
  text-align: center;
}
button{
  background-color: rgb(4, 116, 150);
  color: white;
  border: none;
  padding:5px 10px;
  font-size: 1.3vw;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 10vw;
}
h2{
  text-align: center;
}
#flashcards{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 80%;
  margin: auto;
}
#flashcards > #categoryDiv > img{
  width: 70%;
  aspect-ratio: 2/2;
  display: block;
  margin: auto;
}